@page
@model IndexModel

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <div id="userdiv"></div>
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
            <div id="messagediv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    // ทำหน้าที่รับข้อความจาก Server 
    // หน้าที่ทำการส่ง Send.cshtml.cs
    // /chathub มาจาก หน้า cofig หากเป็น angular ให้เป็น path แบบเต็ม https://www.???
    var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
    connection.on("ReceiveMessage", function(myMessage) {
        var msg = myMessage.message.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
        var encodedMsg = myMessage.user + " says " + msg;
        var li = document.createElement("li");
        li.textContent = encodedMsg;
        document.getElementById("messagesList").appendChild(li);
    });
    connection.start();

    // -- ส่วนของการส่งข้อความ
    // -- จาก Client ยิงเข้า Hub ก่อน จากนั้น Hub จะทำการยิงส่งให้ทุกเครื่อง
    document.getElementById("sendButton").addEventListener("click", function(event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessageToHub", {"User": user, "Message": message});
    });
</script>