@page
@model IndexModel

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    // ทำหน้าที่รับข้อความจาก Server 
    // หน้าที่ทำการส่ง Send.cshtml.cs
    // /chathub มาจาก หน้า cofig หากเป็น angular ให้เป็น path แบบเต็ม https://www.???
    var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
    connection.on("ReceiveMessage", function(user, message) {
        document.getElementById("userInput").value = user
        document.getElementById("messageInput").value = message
    });
    connection.start();

    // -- ทำการส่งข้อความ
    document.getElementById("sendButton").addEventListener("click", function(event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;

        
    });
</script>